<!DOCTYPE HTML>
<html>
	<head>
		<title>Dashboard</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="bootstrap/css/boostrap.css" rel="stylesheet">
	</head>
	<body class = "appbody">
		<!--
		<div class = "topbar">
			<div class = "topbar-inner">
				<div class = "button">Menu</div>
			</div>
		</div> -->
		<nav class="navbar navbar-dark bg-dark">
				<a class="navbar-brand" href="/">Security Dashboard</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topbarContent" aria-controls="topbarContent" aria-expanded="false" aria-label="Toggle Navigation"><i class="fas fa-bars"></i></button>
				<div class="collapse navbar-collapse" id="topbarContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="#">Dash</a>
						</li>
					</ul>
				</div>
		</nav>
		<div>other stuff</div>
	</body>
</html>
